.App {
  text-align: center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.portrait-container {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: visible;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.3s ease;
  --halo-color: rgba(0, 255, 0, 0);
  --halo-size: 0px;
  --halo-spread: 0px;
  box-shadow: 0 0 var(--halo-size) var(--halo-spread) var(--halo-color);
}
.agent-portrait {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.portrait-container:hover {
  transform: scale(1.05);
}
.portrait-container:hover .agent-portrait {
  filter: saturate(110%);
}
.portrait-container.active {
  --halo-color: rgba(255, 255, 255, 0.3);
  --halo-size: 20px;
  --halo-spread: 10px;
}
.portrait-container.active.agent-speaking {
  animation: pulse 3s infinite;
  animation-timing-function: cubic-bezier(0.4, 0, 0.6, 1);
}

@keyframes pulse {
  0%, 100% {
    --halo-color: rgba(0, 255, 0, 0.2);
    --halo-size: 20px;
    --halo-spread: 10px;
  }
  50% {
    --halo-color: rgba(0, 255, 0, 0.3);
    --halo-size: 30px;
    --halo-spread: 15px;
  }
}
.portrait-container.inactive .agent-portrait {
  filter: saturate(75%);
}
.portrait-container,
.portrait-container.active,
.portrait-container.active.agent-speaking,
.portrait-container.active:not(.agent-speaking),
.portrait-container.inactive {
  transition: all 0.5s ease, transform 0.3s ease;
}
